/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* height: 540vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4070F4; */
  margin-top: 30px;
}
nav {
  border-radius: 32px;
  padding: 0px 15px;
  margin-left: 1000px;
  box-shadow: 1px 5px 15px red;
  margin-right: 30px;
}
.nav-content {
  display: flex;
  height: 100px;
  align-items: center;
  position: relative;
}
.link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 120px;
  width: 95px;
  text-decoration: none;

  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.link-icon {
  font-size: 38px;
  /* transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
}
.link-item .link-icon {
  color: red;
}
.link-textt {
  color: azure;
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  transform: translateY(32px);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.link-text {
  color: azure;
  position: absolute;
  font-size: 45px;
  font-weight: 900;
  margin-left: 40px;
  margin-top: 30px;
  /* text-shadow: 5px 3px 2px red; */
  font-family: "Kaushan Script", cursive;
  color: #07252d;
  text-align: center;
  letter-spacing: 2px;
  -webkit-box-reflect: below 2px linear-gradient(transparent);
  line-height: 0.7em;
  outline: none;
  animation: animateq 5s linear infinite;
}

@keyframes animateq {
  0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92% {
    color: #07252d;
    text-shadow: none;
  }
  18.1%,20%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100% {
    color: white;
    text-shadow: 0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4;

  }
}

/* .link-item.active .link-textt {
  opacity: 11;
  color: white;
} */
.indicator {
  position: absolute;
  top: -23px;
  left: 48px;
  height: 36px;
  width: 36px;
  box-shadow: 1px 1px 7px 5px red;
  background-color: #060417;
  border: 4px solid yellow;

  border-radius: 50%;
  transform: translateX(-50%);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.indicator::before,
.indicator::after {
  content: "";
  position: absolute;
  bottom: -8px;
  height: 24px;
  width: 19px;
  background: whitesmoke;
}
.indicator::before {
  left: -32px;
  background: black;
  border-top-right-radius: 15px;
  box-shadow: 1px -13px black;
}
.indicator::after {
  right: -32px;
  background: black;
  border-top-left-radius: 15px;
  box-shadow: -1px -13px black;
}
