section {
  position: relative;
  margin-top: 10px;
  
  
}
section h3 {
  font-weight: 100;
  letter-spacing: 2px;
  
}
section h1 {
  font-size: 60px;
  font-weight: bold;
  color: whitesmoke;
  
  
}
section h2 span {
  color: whitesmoke;
}
section h2 .test1 {
  color: yellow;
  
}

section h2 {
  font-size: 50px;
  font-weight: bold;
  color: black;
}

section h4 {
  font-size: 30px;
  font-weight: bold;
  color: whitesmoke;
}
section .aa {
  font-size: 30px;
  margin-top: 100px;
  margin-left: 40px;
  font-weight: bold;
  color: whitesmoke;
}
/* section h3 span {
  color: whitesmoke;
} */
section p {
  color: whitesmoke;
  font-size: 18px;
  line-height: 30px;
  margin-top: 20px;
  margin-right: 680px;
}
.hero_btn {
  margin-top: 30%;
}

.hero_btn h4 {
  font-weight: 500;
  font-weight: bold;
  letter-spacing: 2px;
  color: yellow;
  font-size: 15px;
  margin: -230px 10px 0px 10px;
  margin-top: -120%;
  
  
}

.hero_btn button {
  margin-right: 50px;
  border-radius: 110px 60px 700px;
  
}

.hero_btn i {
  width: 25px;
  height: 25px;
}

.hero_btn button img {
  width: 25px;
  height: 25px;
  
}


.btn_shadow {
  padding: 18px 25px;
  border-radius: 8px;
  transition: 0.5s all ease;
  cursor: pointer;
  margin-bottom: 15px;
  border: 2px solid yellow;
}
.btn_shadow {
  padding: 18px 25px;
  border-radius: 8px;
  transition: 0.5s all ease;
  cursor: pointer;
  margin-bottom: 15px;
  background: linear-gradient(292deg, lightsalmon, red);
  box-shadow: 2px 3px 1px white, 11px 11px 3px black;
}
.btn_cv {
  padding: 18px 93px;
  transition: 0.5s all ease;
  cursor: pointer;
  margin-top: 75px;
  background: linear-gradient(292deg, lightsalmon, red);
  box-shadow: 2px 3px 1px white, 11px 11px 3px black;
}
.btn_shadow:hover {
  background: red;
  transform: translateY(-8px);
}
.btn_cv:hover {
  background: red;
  transform: translateY(-8px);
}
.button_shadow:hover {
  transform: translateY(-6px);
}
.button_cv:hover {
  transform: translateY(-6px);
}

section .right {
  width: 45%;
  position: relative;
  top: -600px;
}

section .test {
  width: 45%;
  position: relative;
  top: -600px;
}

section .test_img img {
  position: absolute;
  top: -70px;
  right: -25px;
  bottom: 0px;
  width: 510px;
  height: 500px;
  border-radius: 50px;
}

/* section .right_img {

    background: linear-gradient(141deg,rgb(15, 202, 127), purple);
    box-shadow: 4px 8px 18px rgb(15, 202, 127), 8x -3px 8px rgb(15, 202, 127);
    height: 480px;
    width: 560px;
    margin-top: 30%;
    border-radius: 50px;
} */
section .right_img img {
  position: absolute;
  top: -110px;
  right: -285px;
  bottom: 0px;
  width: 510px;
  height: 500px;
  border-radius: 50px;
}

@media (max-width: 768px) {
  section {
    position: relative;
    margin-top: 70px;
  }
  section h3 {
    padding-bottom: 10px;
    font-weight: 100;
    letter-spacing: 4px;
    padding-top: 50px;
  }
  section h1 {
    font-size: 60px;
    font-weight: bold;
    padding-top: -100px;
  }
  section h1 span {
    color: purple;
  }
  section h2 {
    font-size: 50px;
    font-weight: bold;
    color: whitesmoke;
  }
  section h2 span {
    color: whitesmoke;
  }

  .hero_btn h4 {
    font-weight: 500;
    font-weight: bold;
    letter-spacing: 2px;
    color: whitesmoke;
    font-size: 15px;
    margin: -130px 10px 0px 10px;
  }

  section p {
    color: whitesmoke;
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
    margin-right: 400px;
  }

  section .right {
    width: 55%;
    position: relative;
    top: -500px;
  }

  section .test {
    width: 45%;
    position: relative;
    top: -500px;
  }

  section .test_img img {
    top: 86px;
    right: -5px;
    bottom: 0px;
    width: 310px;
    height: 300px;
    border-radius: 50px;
  }
  section .right_img img {
    position: absolute;
    top: 130px;
    right: -115px;
    bottom: 0px;
    width: 310px;
    height: 300px;
    border-radius: 50px;
  }
}
